<div class="container">
  <div class="titleWebnar">WebNars</div>
  <div class="TextWebNar">Cadastre seu email e tenha acesso a nossa agenda
    de WebNars
  </div>

  <form action="">
    <input type="email" name="" id="">
    <input type="submit" value="Enviar">
  </form>
</div>

<div class="containerWebNars">
    <a routerLink="">
      <div class="titleWebnarLink borderLink">
          Sistema Bancario Java com Sprig Boot
          Segunda - 10/04/2023 - 19h30min
          <div>
            <img src="../assets/javaSpringBoot.png" alt="">
          </div>
      </div>
    </a>

    <a routerLink="">
      <div class="titleWebnarLink borderLink">
        Continuação do Sistema Bancario Java com Sprig Boot
        Implementando as telas com Angular - 11/04/2023 - 19h30min
        <div>
          <img src="../assets/angularSpringBoot.png" alt="">
        </div>
      </div>
    </a>

    <a routerLink="">
      <div class="titleWebnarLink borderLink">
        Implementando testes unitarios no Sistema Bancario
        Quarta - 12/04/2023 - 19h30min
        <div>
          <img src="../assets/springBootAngularJunit5.jpg" alt="">
        </div>
      </div>
    </a>
</div>
