.container{
 display: grid;
 grid-template-columns: 20% 50px 40px;
 grid-template-rows: 40px ;
 grid-column-gap: 20px;
 grid-row-gap:12px;
 background-color: rgb(116, 121, 183);
  border-radius: 0.5em;
}


a{
  color: rgb(14, 16, 16);
  text-decoration: none;
  font-weight: bold;
  font-size: 14;

}

