<div class="cursosTitle">Escolha sua frente de estudo</div>
<div class="container">
  <a routerLink="/backend">
    <div class=" borderLink titleCursos ">Back-end
      <div>
          <img src="../assets/backend.png" width="300px" height="198" >
      </div>
    </div>
  </a>

  <a routerLink="/frontend">
    <div class="borderLink titleCursos">Front End
      <div>
        <img src="../assets/frontend.jpg">
      </div>
    </div>
  </a>

  <a routerLink="/mobile">
    <div class="borderLink titleCursos">Mobile
      <div>
        <img src="../assets/mobile.jpg" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink titleCursos">Teste de Software
      <div>
        <img src="../assets/testeDeSoftware.jpg" alt="">
      </div>
    </div>
  </a>

</div>
