<p class="frontendT">Frente Inicial do Front-End</p>

<div class="container">

  <a routerLink="">
    <div class="borderLink titleCursos">
      Curso Basico de HTML 5
      <div>
        <img src="../assets/html5basico.jpg" >
      </div>
    </div>
  </a>
  <a routerLink="">
    <div class="borderLink titleCursos" >
      Curso Intermediario de HTML5
      <div>
        <img src="../assets/html5Intermediario.jpg">
      </div>
    </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        Curso Avancado de HTML5
        <div>
          <img src="../assets/html5Avancado.jpg" class="html3" >
        </div>
      </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        Curso Basico de CSS3
        <div>
          <img src="../assets/css3Basico.jpeg" >
        </div>
      </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        Curso Intermediario de CSS3
        <div>
          <img src="../assets/css3Intermediario.jpeg" alt="">
        </div>
      </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        Curso Avancado de CSS3
          <div>
            <img src="../assets/css3Avancado.jpeg" >
          </div>
            </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        Curso Javascript Basico
        <div>
          <img src="../assets/javascriptBasico2.png" alt="">
        </div>
      </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        Curso Javascript Intermediario
        <div>
          <img src="../assets/javascriptIntermediario.jpeg" alt="">
        </div>
      </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        Curso Javascript Avancado
        <div>
          <img src="../assets/javascriptAvancado5.jpeg" alt="">
        </div>
      </div>
    </a>
</div>

<p class="frontendT">Frameworks para Front-End</p>

<div class="container">
  <a routerLink="">
    <div class="borderLink titleCursos">
      Node JS
      <div>
        <img src="../assets/nodejs.jpg" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink titleCursos">
      React JS
     <div>
      <img src="../assets/reactjs.png" alt="">
     </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink titleCursos">
      Angular JS
     <div>
      <img src="../assets/angular2.jpg" alt="">
     </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink titleCursos">
      Vue JS
      <div>
        <img src="../assets/vuejs.jpg" alt="">
      </div>
    </div>
  </a>


    <a routerLink="">
      <div class="borderLink titleCursos">
        JQuery
        <div>
          <img src="../assets/jquery.png" alt="">
        </div>
      </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        Bootstrap
        <div>
          <img src="../assets/bootstrap.png" alt="">
        </div>
      </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        EmberJS
        <div>
          <img src="../assets/emberjs.jpg" alt="">
        </div>
      </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        Svelte
        <div>
          <img src="../assets/svelte.png" alt="">
        </div>
      </div>
    </a>

    <a routerLink="">
      <div class="borderLink titleCursos">
        Backbone.js
        <div>
          <img src="../assets/backbonejs.png" alt="">
        </div>
      </div>
    </a>
</div>
