.title{
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-size: 1.2em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 0.4em;
  background-color: #6de966;
}

form{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(190, 255, 11, 0.711);
  width: 1325px;
  margin: auto;
  margin-left: 80px;
  margin-right: 80px;
  padding: 20px;
  border-radius: 10px;
  border: 1px
  solid #f1f1f1;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 1.5em;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 1.5em;
}

input[type=submit]{
  width: 100%;
  padding: 12px 20px;
  border-radius:1.5em;
  background-color: #0fe70f;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #0dcd0d;

}

option{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 7px;
}
