<div class="title">Cadastro de Alunos</div>

<form action="">
  Nome <input type="text" name="nome" id="">
  Endereco: <input type="text" name="endereco" id="">
  N: <input type="number" name="" id="">
  CEP: <input type="number" name="cep" id="">
  Municipio: <input type="text" name="municipio" id="">
  Estado: <input type="text" name="estado" id="">
  Formacao: <input type="text" name="formacao" id="">
  Linguagem de Programação :<input type="text" name="linguagem" id="">
  Nivel de Estudo:
  <select name="nivel" id="">
    <option value="Iniciante">Iniciante</option>
    <option value="Intermediario">Intermediario</option>
    <option value="Avancado">Avancado</option>
</select>
  <input type="submit" value="Enviar">
</form>
