<div class="cursosTitle">Cursos Mobile</div>

<div class="container">
  <a routerLink="">
    <div class="borderLink titleCursos">
      Desenvolvedor Android Java
      <div>
        <img src="../assets/androidstudio.png" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink titleCursos">
      Swift
      <div>
        <img src="../assets/swift.jpg" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink titleCursos">
      IONIC
      <div>
        <img src="../assets/ionic.png" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink titleCursos">
      React Native
      <div>
        <img src="../assets/reactnative.png" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink titleCursos">
      Xamarin
      <div>
        <img src="../assets/xamarin.png" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink titleCursos">
      PhoneGap
      <div>
        <img src="../assets/phonegap.png" alt="">
      </div>
    </div>
   </a>

   <a routerLink="">
    <div class="borderLink titleCursos">
      Flutter
      <div>
        <img src="../assets/flutter.png" alt="">
      </div>
    </div>
   </a>

   <a routerLink="">
    <div class="borderLink titleCursos">
      Native Script
      <div>
        <img src="../assets/nativescript.jpg" alt="">
      </div>
    </div>
   </a>

   <a routerLink="">
    <div class="borderLink titleCursos">
      Mobile Angular UI
     <div>
      <img src="../assets/mobile-angular-ui.png" alt="">
    </div>
    </div>
   </a>

</div>
