
<div class="titleJob">Vagas de Emprego</div>
<form action='/' method='post'>
  <input type='text' name='pesquisa' placeholder='O que você procura?'>
  <button type="submit">

  Pesquisa
  </button>
</form>

<div class="container">
  <a routerLink="">
    <div class="borderLink linkTitle">
      Desenvolvedor Java Pleno
      <div>
        <img src="../assets/programmer.jpg" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink linkTitle">
      Desenvolvedor .NET Junior
      <div>
        <img src="../assets/programmer2.jpg" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink linkTitle">
      Desenvolvedor Full Stack Java/Angular Junior
      <div>
        <img src="../assets/programmer3.jpg" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink linkTitle">
      Analista de Sistemas .NET Senior
      <div>
        <img src="../assets/programmer4.jpg" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink linkTitle">
      Desenvolvedor Java Junior
      <div>
        <img src="../assets/programmer5.jpg" alt="">
      </div>
    </div>
  </a>

  <a routerLink="">
    <div class="borderLink linkTitle">
      Analista Desenvolvedor Java Junior
      <div>
        <img src="../assets/programmer6.jpg" alt="">
      </div>
    </div>
  </a>
</div>
