.container{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;

  padding: auto;
  border-radius: 1.9em;
  background-color: #bfc8d7;
}

.backendT{
  background-color: rgb(32, 181, 40);
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1.9em;
  margin-left: 90px;
  margin-right: 90px;
}

.titleCursos{
  text-align: center;
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  border-radius: 0.6em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 90px;
  margin-right: 90px;
}


img{
   max-width: 300px;
  max-height: 300px;
  border-radius: 1.9em;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  background-position: center;
}


.borderLink{
  border: 0.2em;
  border-style: solid;
  border-color: #b8080891;
  border-radius: 1.9em;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
