<div class="container-branco">
  <div class="titleIndex">Bem vindo ao Be a programmer</div>
</div>
<div class="container">
  <a routerLink="/cursos">
    <div class="borderLink linkTitle">
      Cursos
    <div >
    <img src="../assets/cursos-online.jpg"/>

  </div>

  </div>
</a>
<a routerLink="/vagas">
    <div class="borderLink linkTitle" >Vagas de emprego
      <div>
    <img src="../assets/search-job.jpg" height="200px" width="200px">
  </div>
</div>
</a>
<a routerLink="/webnars">
  <div class="borderLink linkTitle">Webinars
    <div>
      <img src="../assets/webnar-chat.jpg">
    </div>
  </div>
</a>

<a routerLink="/planos">
  <div class="borderLink linkTitle">Conheça nossos planos
    <div>
      <img src="../assets/plans.jpg">
    </div>
</div>
</a>


<a routerLink="">
  <div class="borderLink linkTitle">Ensino Superior
    <div >
      <img src="../assets/ensino-superior.jpg">
    </div>
</div>
</a>

<a routerLink="">
  <div class="borderLink linkTitle">Materiais Complementares
    <div>
      <img src="../assets/add-content.jpg">
    </div>
  </div>
</a>

</div>
