  <div class="titlePlans">Conheça nossos planos</div>

  <div class="container">
  <div class="divPlans">
    Plano Basico
    <div class="planDesc">
        <div class="iconDesc">
          <img src="../assets/notebook.png" alt="">
        </div>

        Tenha acesso aos nossos cursos de formação continuada

        <button>
          Clique aqui para saber mais
        </button>
    </div>
    <div class="planPrice">
      R$0.00
    </div>
  </div>


    <div class="container">
      <div class="divPlans">
        Plano Standard
        <div class="planDesc">
          <div class="iconDesc">
            <img src="../assets/open-book.png" alt="">
          </div>

            Plano Basico + mentorias semanais
          <button>
            Clique aqui para saber mais
          </button>
        </div>
        <div class="planPrice">
          R$19.90/mes
        </div>
  </div>

  <div class="container">
    <div class="divPlans">
      Plano Premium
      <div class="planDesc">
        <div class="iconDesc">
          <img src="../assets/price.png" alt="">
        </div>
        Acesso total à plataforma de cursos
        <button>
          Clique aqui para saber mais
        </button>
      </div>
      <div class="planPrice">
        R$49.90
        </div>

    </div>
  </div>
</div>
